[Unit]
Description=Portfolio

[Container]
ContainerName=portfolio
Image=localhost/portfolio2_portfolio2
PublishPort=8081:8080

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target