$pc: 90rem
$laptop: 63.9375rem
$tablet: 48rem

$backgroundColor: rgba(10, 23, 27, 1)
$textColor: rgb(244, 244, 244)
$fontFamily: 'Geologica'
$borderColor: none

$modeProgrammerFontFamily: 'Fira Code Variable'
$modeDesignerFontFamily: 'Montserrat Variable'
$modeWriterFontFamily: 'Playfair Display Variable'

$modeProgrammerTextColor: rgba(110, 141, 159, 1)
$modeProgrammerBoxBorder: 5px solid rgba(32, 42, 50, 0.8)

$modeDesinerTextColor: rgba(220, 221, 183, 1)
$modeWriterTextColor: rgba(0, 0, 0, 1)

$modeProgrammerBackgroundColor: rgba(14, 19, 23, 1)
$modeDesignerBackgroundColor: rgba(19, 29, 29, 1)
$modeWriterBackgroundColor: rgba(208, 203, 126, 1)

$contactBoxBackgroundColor: $backgroundColor
$contactBoxTextColor: $textColor
