---
import MainLayout from '../layouts/MainLayout.astro'
import Contact from '../components/Contact.astro'
import Modes from '../components/Modes.astro'
import Photos from '../components/Photos.astro'
import Texts from '../components/Texts.astro'
import Scroller from '../components/Scroller.astro'

// const name = 'Patrick Alvin Alcala'
// const firstname = 'Patrick'
// const secondname = 'Alvin'
// const lastname = 'Alcala'
---

<MainLayout title="Pat Alcala" pageDescription="Portfolio">
  <div class="page">
    <section class="texts text">
      <Texts />
    </section>

    <section class="photos text" id="photos">
      <!-- <Photos /> -->
    </section>

    <section class="modes text">
      <Modes />
    </section>

    <section class="contacts text">
      <Contact client:load />
    </section>
  </div>

  <div>
    <Scroller />
  </div>
</MainLayout>

<style lang="sass">
  @use '/src/assets/css/variables.sass' as vars

  .page
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 0.6fr 0.4fr
    gap: 10px
    grid-auto-flow: row
    grid-template-areas: "texts photos" "modes contacts"

    @media screen and (max-width: vars.$tablet)
      grid-template-columns: 1fr
      grid-template-rows: auto
      gap: 10px
      grid-template-areas: "texts" "photos" "modes" "contacts"

  .texts
    grid-area: texts

  .photos
    grid-area: photos

  .modes
    grid-area: modes
    overflow: hidden
    padding: 2rem

  .contacts
    grid-area: contacts
    justify-self: end
    align-self: center
    padding: 0 2rem 0 0

  .container
    position: relative
    width: 100%
    height: 100%
</style>
