---
import MainLayout from '../layouts/MainLayout.astro'
import Contact from '../components/Contact.astro'
import Modes from '../components/Modes.astro'

const name = 'Patrick Alvin Alcala'
const firstname = 'Patrick'
const secondname = 'Alvin'
const lastname = 'Alcala'

const yemail = 'patrick_alv@yahoo.com'
---

<MainLayout title="Pat Alcala" pageDescription="Portfolio">
  <div class="page">
    <section class="texts text">
      <span class="texts__hello">Hello, I'm</span>
      <span class="texts__name">Patrick Alvin Alcala</span>

      <div class="positions text">
        <span class="positions__dev">Fullstack Developer</span>
        <span class="positions_design">Graphic Designer</span>
        <span class="positions_write">Writer</span>
      </div>
    </section>

    <section class="modes text">
      <Modes />
    </section>

    <section class="contacts text">
      <Contact />
    </section>
  </div>
</MainLayout>

<style lang="sass">
  .page
    display: grid
    grid-template-columns: 1.2fr 0.8fr
    grid-template-rows: 1.5fr 0.5fr
    gap: 0px 0px
    grid-auto-flow: row
    grid-template-areas: "texts photos" "modes contacts"

  .texts
    grid-area: texts
    padding: 0 7.5rem
    width: 51.5625rem
    height: 37.5rem
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    align-content: flex-start

    &__hello
      font-family: 'Geologica'
      font-size: 1.5rem

    &__name
      font-family: 'Geologica Bold'
      font-size: 3.5rem
      padding: 0

  .positions
    margin: 3rem 0 0 0
    font-size: 1.5rem
    display: flex
    flex-direction: column
    gap: 0.5rem
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    align-content: flex-start

  .photos
    grid-area: photos

  .modes
    grid-area: modes

  .contacts
    grid-area: contacts
</style>
