---
import MainLayout from '../layouts/MainLayout.astro'
import Contact from '../components/Contact.astro'
import Modes from '../components/Modes.astro'
// import Photos from '../components/Photos.astro'
import Texts from '../components/Texts.astro'
import Scroller from '../components/Scroller.astro'
import Title from '../components/Title.astro'
import About from '../components/About.astro'

// const name = 'Patrick Alvin Alcala'
// const firstname = 'Patrick'
// const secondname = 'Alvin'
// const lastname = 'Alcala'
---

<script>
  import { mode } from '../stores/mode'

  const page2 = document.getElementById('page2')

  mode.subscribe((value) => {
    if (value === 'programmerMode' || value === 'designerMode' || value === 'writerMode') {
      page2.style.display = 'grid'
    }
  })
</script>

<MainLayout title="Pat Alcala" pageDescription="Portfolio">
  <div class="page" id="page">
    <section class="texts text">
      <Texts />
    </section>

    <section class="photos text" id="photos">
      <!-- <Photos /> -->
    </section>

    <section class="modes text">
      <Modes />
    </section>

    <section class="contacts text">
      <Contact />
    </section>
  </div>

  <div>
    <Scroller />
  </div>

  <div class="page2" id="page2" style="display: none;">
    <section class="left-side">
      <Title text="About Me" />
    </section>

    <section class="right-side">
      <About text="I create web applications in both frontend and backend, along with UI/UX design that focuses on performance and security." />
    </section>
  </div>
</MainLayout>

<style lang="sass">
  @use '/src/assets/css/variables.sass' as vars

  .page
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 0.6fr 0.4fr
    gap: 10px
    grid-auto-flow: row
    grid-template-areas: "texts photos" "modes contacts"

    @media screen and (max-width: vars.$tablet)
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: auto
      gap: 0px 0px
      grid-template-areas: "texts" "modes" "contacts"
      justify-items: stretch
      align-items: stretch

  .texts
    grid-area: texts

  .photos
    grid-area: photos

  .modes
    grid-area: modes
    overflow: hidden
    padding: 2rem

  .contacts
    grid-area: contacts
    justify-self: end
    align-self: center
    padding: 0 2rem 0 0

    @media screen and (max-width: vars.$tablet)
      margin: 2rem 0 4rem 0

  .container
    position: relative
    width: 100%
    height: 100%

  .page2
    display: grid
    grid-template-columns: 0.8fr 1.2fr
    grid-template-rows: 1fr
    gap: 10px
    grid-auto-flow: row
    justify-items: stretch
    align-items: stretch
    grid-template-areas: "left-side right-side"
    height: 80vh

  .left-side
    justify-self: center
    align-self: start
    grid-area: left-side
    padding: 6rem 2rem 0 2rem

  .right-side
    justify-self: center
    align-self: center
    grid-area: right-side
    padding: 0 6rem 0 0
</style>
