---

---

<script>
  import { mode } from '../stores/mode.js'

  const programmer = document.getElementById('programmer')
  programmer.addEventListener('click', () => {
    mode.set('programmerMode')
  })

  const designer = document.getElementById('designer')
  designer.addEventListener('click', () => {
    mode.set('designerMode')
  })

  const writer = document.getElementById('writer')
  writer.addEventListener('click', () => {
    mode.set('writerMode')
  })
</script>

<section class="container">
  <div class="box" id="programmer">Programmer Mode</div>
  <div class="box" id="designer">Designer Mode</div>
  <div class="box" id="writer">Writer Mode</div>
</section>

<style lang="sass">
  .container
    display: flex
    flex-direction: row
    width: 100%
    height: 100%
    margin: 0 auto
    gap: 0 2rem
    border: 1px solid yellow

  .box
    height: 100%
    flex: 1
    padding: 20px
    background-color: #626d8c
    text-align: center
    border: 1px solid white
</style>
