---

---

<script>
  import { mode } from '../stores/mode.js'
  import { gsap } from 'gsap'
  import vars from '../assets/js/variables.js'

  const programmer = document.getElementById('programmer')
  programmer.addEventListener('click', () => {
    mode.set('programmerMode')
  })

  const designer = document.getElementById('designer')
  designer.addEventListener('click', () => {
    mode.set('designerMode')
  })

  const writer = document.getElementById('writer')
  writer.addEventListener('click', () => {
    mode.set('writerMode')
  })

  const duration = 0.4
  const backgroundSize = 'cover'
  const ease = 'power2.out'

  mode.subscribe((val) => {
    switch (val) {
      case 'programmerMode':
        gsap.to(programmer, {
          duration,
          border: vars.modeProgrammerBoxBorder,
          borderRadius: '50px',
          ease,
        })
        gsap.to(designer, {
          duration,
          border: vars.modeProgrammerBoxBorder,
          borderRadius: '50px',
          ease,
        })
        gsap.to(writer, {
          duration,
          border: vars.modeProgrammerBoxBorder,
          borderRadius: '50px',
          ease,
        })

        programmer.addEventListener('mouseenter', () => {
          gsap.to(programmer, {
            duration,
            border: vars.modeProgrammerBoxBorderGlow,
            ease,
          })
        })

        programmer.addEventListener('mouseleave', () => {
          gsap.to(programmer, {
            duration,
            border: vars.modeProgrammerBoxBorder,
            ease,
          })
        })

        designer.addEventListener('mouseenter', () => {
          gsap.to(designer, {
            duration,
            border: vars.modeProgrammerBoxBorderGlow,
            ease,
          })
        })

        designer.addEventListener('mouseleave', () => {
          gsap.to(designer, {
            duration,
            border: vars.modeProgrammerBoxBorder,
            ease,
          })
        })

        writer.addEventListener('mouseenter', () => {
          gsap.to(writer, {
            duration,
            border: vars.modeProgrammerBoxBorderGlow,
            ease,
          })
        })

        writer.addEventListener('mouseleave', () => {
          gsap.to(writer, {
            duration,
            border: vars.modeProgrammerBoxBorder,
            ease,
          })
        })
        break
      case 'designerMode':
        gsap.to(programmer, {
          duration,
          border: '1px solid rgba(32, 42, 50, 0.5)',
          borderRadius: '200px',
          ease,
        })
        gsap.to(designer, {
          duration,
          border: '1px solid rgba(32, 42, 50, 0.5)',
          borderRadius: '150px',
          ease,
        })
        gsap.to(writer, {
          duration,
          border: '1px solid rgba(32, 42, 50, 0.5)',
          borderRadius: '150px',
          ease,
        })
        programmer.addEventListener('mouseenter', () => {
          gsap.to(programmer, {
            duration,
            border: '1px solid red',
            y: -10,
            ease,
          })
        })

        programmer.addEventListener('mouseleave', () => {
          gsap.to(programmer, {
            duration,
            border: vars.modeProgrammerBoxBorder,
            y: 0,
            ease,
          })
        })
        break
      case 'writerMode':
        gsap.to(programmer, {
          duration,
          border: 'none',
          borderRadius: '0',
          ease,
        })
        gsap.to(designer, {
          duration,
          border: 'none',
          borderRadius: '0',
          ease,
        })
        gsap.to(writer, {
          duration,
          border: 'none',
          borderRadius: '0',
          ease,
        })
        break
      default:
        break
    }
  })
</script>

<section class="container">
  <div class="box" id="programmer">Programmer Mode</div>
  <div class="box" id="designer">Designer Mode</div>
  <div class="box" id="writer">Writer Mode</div>
</section>

<style lang="sass">
  .container
    display: flex
    flex-direction: row
    width: 100%
    height: 90%
    margin: 0 auto
    gap: 0 2rem

  .box
    // height: 100%
    flex: 1
    padding: 16px 0 0 0
    background-color: #626d8c
    text-align: center
    border: 1px solid white
    cursor: pointer
</style>
