---

---

<section class="scroller">
  <span class="scroller__content" id="scrollerContent"> Scroll Down </span>
</section>

<style lang="sass">
  @use '/src/assets/css/variables.sass' as vars

  .scroller
    display: flex
    justify-content: center
    align-items: center
    height: 10vh
    background-color: transparent
    font-family: vars.$fontFamily
    font-size: 2rem
    color: vars.$textColor
</style>
