---

---

<script>
  import { mode } from '../stores/mode'
  import { gsap } from 'gsap'
  import vars from '../assets/js/variables.js'

  const dev = document.getElementById('positions__dev')
  const design = document.getElementById('positions__design')
  const write = document.getElementById('positions__write')
  const texts = document.getElementById('texts')

  const ease = vars.ease
  const duration = vars.duration
  const activeSize = '2rem'
  const inactiveSize = '1.5rem'

  const modeProgrammerTextColor = vars.modeProgrammerTextColor
  const modeDesignerTextColor = vars.modeDesignerTextColor
  const modeWriterTextColor = vars.modeWriterTextColor

  const modeProgrammerFontFamily = vars.modeProgrammerFontFamily
  const modeDesignerFontFamily = vars.modeDesignerFontFamily
  const modeWriterFontFamily = vars.modeWriterFontFamily

  mode.subscribe((value) => {
    if (value === 'programmerMode') {
      gsap.to(dev, { duration, fontSize: activeSize, fontWeight: 'bold', ease })
      gsap.to(design, { duration, fontSize: inactiveSize, fontWeight: 'normal', ease })
      gsap.to(write, { duration, fontSize: inactiveSize, fontWeight: 'normal', ease })
      gsap.to(texts, { duration, color: modeProgrammerTextColor, fontFamily: modeProgrammerFontFamily, ease })
    } else if (value === 'designerMode') {
      gsap.to(dev, { duration, fontSize: inactiveSize, fontWeight: 'normal', ease })
      gsap.to(design, { duration, fontSize: activeSize, fontWeight: 'bold', ease })
      gsap.to(write, { duration, fontSize: inactiveSize, fontWeight: 'normal', ease })
      gsap.to(texts, { duration, color: modeDesignerTextColor, fontFamily: modeDesignerFontFamily, ease })
    } else if (value === 'writerMode') {
      gsap.to(dev, { duration, fontSize: inactiveSize, fontWeight: 'normal', ease })
      gsap.to(design, { duration, fontSize: inactiveSize, fontWeight: 'normal', ease })
      gsap.to(write, { duration, fontSize: activeSize, fontWeight: 'bold', ease })
      gsap.to(texts, { duration, color: modeWriterTextColor, fontFamily: modeWriterFontFamily, fontWeight: '700', ease })
    }
  })
</script>

<section class="texts" id="texts">
  <span class="texts__hello">Hello, I'm</span>
  <span class="texts__name">Patrick Alvin Alcala</span>

  <div class="positions">
    <span class="positions__dev" id="positions__dev">Fullstack Developer</span>
    <span class="positions__design" id="positions__design">Graphic Designer</span>
    <span class="positions__write" id="positions__write">Writer</span>
  </div>

  <div class="base">
    <span>Based on Philippines</span>
  </div>
</section>

<style lang="sass">
  .texts
    padding: 0 7.5rem
    width: 51.5625rem
    height: 37.5rem
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    align-content: flex-start

    &__hello
      font-size: 1.5rem

    &__name
      font-weight: bold
      font-size: 3.5rem
      padding: 0

  .positions
    margin: 3rem 0 0 0
    font-size: 1.5rem
    display: flex
    flex-direction: column
    gap: 0.5rem
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    align-content: flex-start
    font-weight: normal

  .base
    margin: 3rem 0 0 0
    font-size: 1.25rem
    font-weight: 100
</style>
