---
const { text } = Astro.props
---

<script>
  import { mode } from '../stores/mode'
  import vars from '../assets/js/variables.js'

  const title = document.getElementById('title')

  mode.subscribe((value) => {
    switch (value) {
      case 'programmerMode':
        title.style.color = vars.modeProgrammerTextColor
        title.style.fontFamily = vars.modeProgrammerFontFamily
        break
      case 'designerMode':
        title.style.color = vars.modeDesignerTextColor
        title.style.fontFamily = vars.modeDesignerFontFamily
        break
      case 'writerMode':
        title.style.color = vars.modeWriterTextColor
        title.style.fontFamily = vars.modeWriterFontFamily
        break
    }
  })
</script>

<section>
  <span class="title" id="title">{text}</span>
</section>

<style lang="sass">
  @use '/src/assets/css/variables.sass' as vars

  .title
    padding: 2rem
    font-size: 3rem
    font-weight: bold
</style>
