---
const { title, pageDescription } = Astro.props
---

<script>
  import { mode } from '../stores/mode.js'
  import { gsap } from 'gsap'

  const body = document.getElementById('body')
  const layout = document.getElementById('layout')

  const modeProgrammerBackgroundColor = 'rgba(14, 19, 23, 1)'
  const modeDesignerBackgroundColor = 'rgba(154, 154, 154, 1)'
  const modeWriterBackgroundColor = 'rgba(162, 159, 112, 1)'

  const duration = 0.4
  const backgroundSize = 'cover'
  const ease = 'power2.out'

  mode.subscribe((val) => {
    switch (val) {
      case 'programmerMode':
        gsap.to(body, {
          duration,
          backgroundImage: "url('src/assets/images/programming2.avif'), url('src/assets/images/programming2.webp')",
          backgroundSize,
          ease,
        })
        gsap.to(layout, {
          duration,
          backgroundColor: modeProgrammerBackgroundColor,
          ease,
        })
        break
      case 'designerMode':
        gsap.to(body, {
          duration,
          backgroundImage: "url('src/assets/images/designing2.avif'), url('src/assets/images/designing2.webp')",
          backgroundSize,
          ease,
        })
        gsap.to(layout, {
          duration,
          backgroundColor: modeDesignerBackgroundColor,
          ease,
        })
        break
      case 'writerMode':
        gsap.to(body, {
          duration,
          backgroundImage: "url('src/assets/images/writing.avif'), url('src/assets/images/writing.webp')",
          backgroundSize,
          ease,
        })
        gsap.to(layout, {
          duration,
          backgroundColor: modeWriterBackgroundColor,
          ease,
        })
        break
      default:
        gsap.to(body, { duration: 0.4, backgroundColor: 'none', backgroundImage: "url('src/assets/images/background2.avif'), url('src/assets/images/background2.webp')", ease: 'power2.out' })
        break
    }
  })
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content=`${pageDescription} of Patrick Alvin Alcala` />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="layout" id="layout">
    <div id="body"></div>
    <slot />
  </body>
</html>

<style lang="sass" is:global>
  @use '/src/assets/css/variables.sass' as vars

  .text
    font-family: vars.$fontFamily
    color: vars.$textColor

  .layout
    background-color: vars.$backgroundColor
    position: absolute
    top: 0
    left: 0
    width: 100vw
    width: 100svw
    height: 100vh
    height: 100svh
    overflow: auto
    margin: 0
    object-fit: cover

  #body
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    object-fit: cover
    z-index: -1
    opacity: 0.5
</style>
